@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; */

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline;
    color: #333;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-items-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #48cfad;
}

.header-items-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

nav .nav-logo-container img {
    width: 200px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    background-image: url('../assets/img/Cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

main .main-container {
    text-align: center;
    margin-top: 5.7rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

main .main-container .main-container-title {
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
    font-family: 'Roboto', sans-serif
}

main .main-container .main-container-buttom {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
    padding: 5px;
    border: 1px solid white;
}

main .main-container .main-container-buttom button {
    font-size: 1rem;
    margin: auto;
    font-weight: 800;
    background-color: #47cfac;
    border: 0 solid transparent;
}
